SUBSYSTEM=="tty", ATTRS{serial}=="75835333933351613282", SYMLINK+="ttyUSB_Dist"
SUBSYSTEM=="tty", ATTRS{serial}=="757353030313515002E1", SYMLINK+="ttyUSB_HX"
